<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>QR Viewer</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>QRコード作成ツール</h1>
            <form action="" onsubmit="return false;">
                <div class="row mb-3">
                    <label for="url" class="col-sm-2 col-form-label">URL</label>
                    <div class="col-sm-10">
                        <input type="url" name="url" class="form-control" id="url"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="size" class="col-sm-2 col-form-label">画像の拡大率</label>
                    <div class="col-sm-10">
                        <input type="range" name="size" min="1" th:max="${sizeNum}" class="form-range" id="size" value="1"/><span id="real-size">1</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="margin" class="col-sm-2 col-form-label">マージン(セル単位)</label>
                    <div class="col-sm-10">
                        <input type="range" name="margin" min="0" th:max="${marginMax}" class="form-range" id="margin" value="0"/><span id="real-margin-max">0</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="version" class="col-sm-2 col-form-label">バージョン</label>
                    <div class="col-sm-10">
                        <select name="version" class="form-select" id="version">
                            <option th:each="ver : ${versions}" th:value="${ver}">[[${ver}]]</li>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="version" class="col-sm-2 col-form-label">誤り訂正</label>
                    <div class="col-sm-10">
                        <select name="correction" class="form-select" id="correction">
                            <option th:each="corr : ${corrections}" th:value="${corr}">[[${corr}]]</li>
                        </select>
                    </div>
                </div>
                <input type="submit" id="submit-btn" class="btn btn-primary my-1" value="作成する" />
            </form>
            <div class="row mb-3">
                <div class="col">
                    <div class="d-flex flex-column">
                        <img th:src="@{/images/default.png}" class="img-fluid d-block mx-auto my-2" id="qrcode-image" alt="Your QRCode">
                        <a th:href="@{/images/default.png}" class="btn btn-primary d-block mx-auto" download="qrcode.png" id="qrcode-download">ダウンロード</a>
                    </div>
                </div>
            </div>
        </div>

        

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script>
            $(function() {
                $("#submit-btn").click(function() {
                    var url = $("#url").val();
                    var size = $("#size").val();
                    var version = $("#version").val();
                    var correction = $("#correction").val();
                    var margin = $("#margin").val();
                    var path = `output?url=${url}&size=${size}&version=${version}&correction=${correction}&margin=${margin}`;
                    $("#qrcode-image").attr('src', path);
                    $("#qrcode-download").attr('href', path);
                });
                $("#size").change(function(){
                    var val = $(this).val();
                    $("#real-size").text(val);
                });
                $("#margin").change(function(){
                    var val = $(this).val();
                    $("#real-margin-max").text(val);
                });
            });
        </script>
    </body>
</html>